.App {
  text-align: center;
}

.App h1 {
  font-family: arial;
  font-size: 36px;
}

.App button {
  display: block;
  margin: auto;
  padding: 15px 45px;
  border: 0;
  color: white;
  background-color: darkblue;
  border-radius: 4px;
}

.App__input {
  height: 100px;
}

.App textarea {
  width: 300px;
}